.Container{
    display: flex;
    flex:0.7;
}

img{
    height: 15rem;
    width: 15rem;
}

.Col {
    flex: 0.7;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.card-title{
    font-size: larger;
}

.card{
    display: flex;
    flex-direction: row;
}
